<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Дополнительные Поля Профиля</title>
			<subitems>
				<subitem>
					<subitemtitle>Дополнительные Поля Профиля</subitemtitle>
					<subitemlang>customfields</subitemlang>
					<subsection>customfields</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey>profilefields_global</subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
	</tabitems>
</menu>